
body {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden; /* remove scrolling */


}

*, *::after, *::before {
  box-sizing: border-box;
  font-family: 'Dancing Script', cursive;
  font-family: 'Kumbh Sans', sans-serif;
}

.clock {
  width: 350px;
  height: 350px;
  background-color: rgba(255,255,255,.8);
  border-radius: 50%;
  /* border: 2px solid black; */
  position: relative;
  border-radius: 50px;
  background: #ede9e9;
  box-shadow:  22px -22px 44px #9f9c9c,
             -22px 22px 44px #ffffff;
}

.clock .number{
  font-size: 1.5rem;
  --rotation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: red; */
  text-align: center;
  transform:rotate(var(--rotation));
}

.clock .number1 {
  --rotation:30deg;
}
.clock .number2 {
  --rotation:60deg;
}

.clock .number3 {
  --rotation:90deg;
}
.clock .number4 {
  --rotation:120deg;
}
.clock .number5 {
  --rotation:150deg;
}
.clock .number6 {
  --rotation:180deg;
}
.clock .number7 {
  --rotation:210deg;
}
.clock .number8 {
  --rotation:240deg;
}
.clock .number9 {
  --rotation:270deg;
}
.clock .number10 {
  --rotation:300deg;
}
.clock .number11 {
  --rotation:330deg;
}

.clock .number12 {
  --rotation:360deg;
}


.clock .hand {
  --rotation:0; /*set initial value of the rotation var to 0*/
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom; /* this sets where the transform rotation should start*/
  transform: translateX(-50%) rotate(calc(var(--rotation)* 1deg));
  border: 1px solid white;
  z-index: 10;
  /* box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; */
}

.clock .hand.second {
  width: 5px;
  height: 140px;
  background-color: red;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  /* --rotation:0; */
}

.clock .hand.minute {
  width: 8px;
  height: 120px;
  background-color: black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  /* --rotation:0; */
}

.clock .hand.hour {
  width: 11px;
  height: 110px;
  background-color: black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  /* --rotation:0; */
}


/* create and style a pseudo element content */
.clock::after {
  content: " ";
  position: absolute;
  background-color: black;
  width: 15px;
  height: 15px;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%); /*to dead center the element*/
  z-index: 11;
  border-radius: 50%;
}
